<launch>

    <node name="tracking_node" pkg="topoquad_control" type="neck_tracking_target.py" output="screen">
        <rosparam param="pan_joint_limit"> {min: -1.57, max: 1.57} </rosparam>
        <rosparam param="tilt_joint_limit"> {min: -1.57, max: 1.57} </rosparam>
        <param name="p_gain" value="0.075" />
        <param name="d_gain" value="0.5" /> <!-- no need in almost situations -->
        <param name="i_gain" value="0.0" /> <!-- no need in almost situations -->
        <remap from="/pantilt/state" to="/spider/state/neck/present" />
        <remap from="/pantilt/cmd" to="/spider/cmd/neck_angle" />
    </node>

    <node name="detect_target_color_node" pkg="topoquad_control" type="detect_target_color.py" output="screen">
        <rosparam param="hsv_mask1_lower"> [  0,  50,   0] </rosparam>
        <rosparam param="hsv_mask1_upper"> [ 10, 255, 255] </rosparam>
        <rosparam param="hsv_mask2_lower"> [160,  50,   0] </rosparam>
        <rosparam param="hsv_mask2_upper"> [180, 255, 255] </rosparam>
    </node>

    <node name="walking" pkg="topoquad_control" type="leg_sample_control.py" output="screen"/>

    <include file="$(find topoquad_master)/launch/spider_test.launch" />

</launch>
